.administration {
  text-align: center;
  padding: 50px;
  background-color: #f5f5f5;
}

.card {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 24px;
  min-width: 180px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

.image-container {
  width: 100%;
  height: 80%; /* prend 80% de la hauteur de la card */
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* garde proportions, l’image est entièrement visible */
}

.card p {
  margin: 0;
  height: 20%; /* prend le reste de la hauteur */
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
  font-weight: bold;
  background-color: #eee;
}

.cards-row {
  display: flex;
  flex-direction: row;
  gap: 50px; /* espace fixe entre les deux */
  margin-bottom: 32px;
}
